<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex flex-row justify-content-between align-items-center w-100 px-5">
    <!-- Company Name on the Left -->
    <a class="navbar-brand px-0" routerLink="/">My E-commerce Store</a>

    <!-- Toggle button for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links in the Middle -->
    <div class="collapse navbar-collapse" id="navbarNav" [ngStyle]="{ 'margin-left': getToken() ? '200px' : '-180px' }">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin() && getToken()">
          <a class="nav-link" routerLink="/checkout">Checkout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/manage-products">Manage products</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
      </ul>

      <!-- Cart Icon/Text on the Right -->
      <ul class="navbar-nav ms-auto" *ngIf="getToken()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart"> <i class="bi bi-cart3"></i> Cart </a>
        </li>
      </ul>
      <div class="account-icon-wrapper">
        <div *ngIf="getToken(); else login">
          <button mat-button [matMenuTriggerFor]="menu"><i class="bi bi-person-circle h3 text-muted"></i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onLogout()">Logout</button>
            <button mat-menu-item (click)="onMyAccount()" *ngIf="!isAdmin()">My account</button>
          </mat-menu>
        </div>
        <ng-template #login
          ><li class="nav-item">
            <a class="nav-link text-muted" routerLink="/login"> Login </a>
          </li></ng-template
        >
      </div>
    </div>
  </div>
</nav>
