<div class="form-wrapper">
  <form class="form-signip" [formGroup]="productDetailsForm">
    <h3 class="h4 text-center mb-3 font-weight-normal">{{ isEditMode ? 'Edit product' : 'Add product' }}</h3>

    <label for="price" class="sr-only">Price </label>
    <input type="text" id="price" class="form-control" name="price" placeholder="Price" formControlName="price" />

    <label for="name" class="sr-only">Name </label>
    <input type="text" id="name" class="form-control" name="name" placeholder="Name" formControlName="name" />

    <label for="stock" class="sr-only">Stock </label>
    <input type="text" id="stock" class="form-control" name="stock" placeholder="Stock" formControlName="stock" />

    <label for="description" class="sr-only">Description </label>
    <textarea
      type="text"
      id="description"
      class="form-control"
      name="description"
      placeholder="Description"
      formControlName="description"
    ></textarea>

    <label for="category" class="sr-only">Category </label>
    <select class="form-select" aria-label="Default select example" formControlName="category">
      <option selected>Open this select menu</option>
      <option value="Shoes">Shoes</option>
      <option value="Furniture">Furniture</option>
      <option value="Electronics">Electronics</option>
      <option value="Home">Home</option>
      <option value="Clothing">Clothing</option>
      <option value="Beauty">Beauty</option>
      <option value="Sports">Sports</option>
    </select>

    <label for="image" class="sr-only">Image </label>
    <input
      type="file"
      id="image"
      class="form-control"
      name="image"
      (change)="onImageChange($event)"
      placeholder="Image"
      formControlName="image"
    />

    <button
      style="margin-right: 5px"
      class="btn btn-sm btn-primary btn-block align-items-center mt-3"
      type="submit"
      (click)="submit()"
    >
      {{ isEditMode ? 'Update product' : 'Save product' }}
    </button>

    <button
      *ngIf="isEditMode"
      class="btn btn-sm btn-danger btn-block align-items-center mt-3"
      type="submit"
      (click)="deleteProduct()"
    >
      Delete product
    </button>
  </form>
</div>
